<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Firedevs</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'gestionEstudiantes/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'gestionEstudiantes/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'Add_Estudiante' %}">Nuevo Estudiante</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Add_Grupo' %}">Nuevo Grupo</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Listados</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'Lista_Estudiantes' %}">Listado Estudiante</a></li>
                                <li><a class="dropdown-item" href="{% url 'Lista_Grupos' %}">Listado Grupo</a></li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        {% block content %}


        {% endblock %}


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'gestionEstudiantes/js/scripts.js' %}"></script>

        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        {% if messages %}
        {% for m in messages %}
            {% if m.tags == "error" %}
            <script>
                Swal.fire({
                    "title": "Error",
                    "text": "{{m}}",
                    "icon": "error"
                })
            </script>

            {% endif %}
            {% if m.tags == "success" %}
            <script>
                Swal.fire({
                    "title": "Felicidades",
                    "text": "{{m}}",
                    "icon": "success"
                })
            </script>

            {% endif %}

            {% if m.tags == "warning" %}
            <script>
                Swal.fire({
                    "title": "Mensaje",
                    "text": "{{m}}",
                    "icon": "warning"
                })
            </script>

            {% endif %}
            
        {% endfor %}
        {% endif %}

        {% block js %}


        {% endblock %}
        
    </body>
</html>
